<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/completion.css">
    <title></title>
</head>

<body>
    <main class="container">
        <header class="header-app">
            <a href="./pay.html"><img src="../assets/arrow.png"></a>
            <h1>Finalização do Pedido</h1>
        </header>
        <div class="your-request">
            <h1>Seu Pedido:</h1>
            <div class="infos-request">
                <img src="../assets/cartBlack.png" alt="" srcset="">
                <p>73</p>
                <span>R$</span>
                <span> 502,03</span>
            </div>
        </div>
        <section>
            <div class="products">
                <div class="products-shop">
                    <img src="../assets/coca.png">
                    <p class="name-product">Coca-Cola Lata 350ml</p>
                    <div class="container-price">
                        <p class="promotion-product"><s>R$ 3,45</s></p>
                        <p class="price-product">R$ 3,00</p>
                        <div class="add-cart">
                            <input class="add-items" type="number">
                        </div>
                        <img class="delete" src="../assets/delete.png">
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="products-shop">
                    <img src="../assets/coca.png">
                    <p class="name-product">Coca-Cola Lata 350ml</p>
                    <div class="container-price">
                        <p class="promotion-product"><s>R$ 3,45</s></p>
                        <p class="price-product">R$ 3,00</p>
                        <div class="add-cart">
                            <input class="add-items" type="number">
                        </div>
                        <img class="delete" src="../assets/delete.png">
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="products-shop">
                    <img src="../assets/coca.png">
                    <p class="name-product">Coca-Cola Lata 350ml</p>
                    <div class="container-price">
                        <p class="promotion-product"><s>R$ 3,45</s></p>
                        <p class="price-product">R$ 3,00</p>
                        <div class="add-cart">
                            <input class="add-items" type="number">
                        </div>
                        <img class="delete" src="../assets/delete.png">
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="products-shop">
                    <img src="../assets/coca.png">
                    <p class="name-product">Coca-Cola Lata 350ml</p>
                    <div class="container-price">
                        <p class="promotion-product"><s>R$ 3,45</s></p>
                        <p class="price-product">R$ 3,00</p>
                        <div class="add-cart">
                            <input class="add-items" type="number">
                        </div>
                        <img class="delete" src="../assets/delete.png">
                    </div>
                </div>
            </div>
        </section>
        <div class="container-footer">
            <div class="menu-icons">
                <img src="../assets/home_work.png" alt="">
                <p>Favorites</p>
            </div>
            <div class="menu-icons">
                <img src="../assets/add_location_alt.png" alt="">
                <a href="./address.html">
                    <p>Endereços</p>
                </a>
            </div>
            <div class="menu-icons">
                <img src="../assets/cart.png" alt="">
                <a href="./home.html">
                    <p>Ir Loja</p>
                </a>
            </div>
            <div class="menu-icons">
                <img src="../assets/notifi.png" alt="">
                <p>Meu Carrinho</p>
            </div>
        </div>
    </main>
    <script src="../script/menu.js"></script>
</body>

</html>