<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/delivery.css">
    <title>Endereço de Entrega</title>
</head>

<body>
    <header class="header-app">
        <a href="./home.html"><img src="../assets/arrow.png"></a>
        <h1>Endereço de Entrega</h1>
    </header>
    <div class="your-request">
        <h1>Seu Pedido:</h1>
        <div class="infos-request">
            <img src="../assets/cartBlack.png" alt="" srcset="">
            <p>73</p>
            <span>R$</span>
            <span> 502,03</span>
        </div>
    </div>
    <main class="container">
        <section class="address-container">
            <div>
                <img class="img-correct" src="../assets/yes.png">
                <ul>
                    <strong>
                        <p>Av. Jõao Calmon de Freitas</p>
                    </strong>
                    <li> 3456 - Centro</li>
                    <li>Perto da Igreja Matriz - Matipo</li>
                </ul>
            </div>
            <div class="edit-address">
                <img src="../assets/border_color.png">
                <img src="../assets/delete.png">
            </div>
            <div class="divider"></div>
            <div class="withdraw">
                <ul>
                    <strong>
                        <p>Retirar no Estabelecimento</p>
                    </strong>
                    <li> 3456 - Centro</li>
                    <li>Perto da Igreja Matriz - Matipo</li>
                </ul>
            </div>
            <div class="divider"></div>
            <div class="add-new-address">
                <a href="">Adicionar novo endereço <img src="../assets/add.png" alt=""></a>
            </div>
            <div class="btn-pay">
                <a href="./pay.html">+ &nbsp; Pagamento...</a>
            </div>
        </section>
        <div class="container-footer">
            <div class="menu-icons">
                <img src="../assets/home_work.png" alt="">
                <p>Favorites</p>
            </div>
            <div class="menu-icons">
                <img src="../assets/add_location_alt.png" alt="">
                <a href="./address.html"><p>Endereços</p></a>
            </div>
            <div class="menu-icons">
                <img src="../assets/cart.png" alt="">
                 <a href="./home.html"><p>Ir Loja</p></a>
            </div>
            <div class="menu-icons">
                <img src="../assets/notifi.png" alt="">
                <p>Meu Carrinho</p>
            </div>
        </div>
    </main>
</body>

</html>