<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <title>Loja</title>
</head>

<body>
    <main class="container">
        <header class="header-app">
            <button class="btn-menu" onclick="btnMenu()">|||</button>
            <div class="menu">
                <button class="btn-close" onclick="btnClose()">X</button>
                <img src="../assets/Rectangle 1.png" alt="" srcset="">
                <p class="text-menu">Supermecado da sua <br>preferência</p>
                <ul class="toggle-list">
                    <a href="./menuOptions.html">
                        <li><img src="../assets/coracao.png">Menu de Opções</li>
                    </a>
                    <a href="">
                        <li><img src="../assets/coracao.png">Meus Cartões</li>
                    </a>
                    <a href="./address.html">
                        <li><img src="../assets/coracao.png">Meus Endereços</li>
                    </a>
                    <a href="./updateAddress.html">
                        <li><img src="../assets/coracao.png">Atualizar Endereço</li>
                    </a>
                    <a href="./delivery.html">
                        <li><img src="../assets/coracao.png">Meus Pedidos</li>
                    </a>
                    <a href="">
                        <li><img src="../assets/coracao.png">Produtos nào encontrados</li>
                    </a>
                    <a href="">
                        <li><img src="../assets/coracao.png">Reclamações & Sugestões</li>
                    </a>
                    <a href="">
                        <li><img src="../assets/coracao.png">Jornal Informativo</li>
                    </a>
                    <a href="">
                        <li><img src="../assets/coracao.png">Ir pra Loja...</li>
                    </a>
                </ul>
            </div>
            <h1>Loja</h1>
            <input class="find-items" type="search" name="" id="" placeholder="Buscar">
            <!-- Quando houver o click eu mostro o campo de pesquisa -->
            <img onclick="findItems()" class="find" src="../assets/find.png">
        </header>
        <section>
            <div class="products">
                <div class="products-shop">
                    <img src="../assets/coca.png">
                    <p class="name-product">Coca-Cola Lata 350ml</p>
                    <div class="container-price">
                        <p class="promotion-product"><s>R$ 3,45</s></p>
                        <p class="price-product">R$ 3,00</p>
                        <div class="add-cart">
                            <input class="add-items"  min="0" type="number" value="0">
                        </div>
                        <button class="btn-add">Adicionar</button>
                        <p class="promotion-msg">** Promoção Especial **</p>
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="products-shop">
                    <img src="../assets/coca.png">
                    <p class="name-product">Coca-Cola Lata 350ml</p>
                    <div class="container-price">
                        <p class="promotion-product"><s>R$ 3,45</s></p>
                        <p class="price-product">R$ 3,00</p>
                        <div class="add-cart">
                            <input class="add-items"  min="0" type="number" value="0">
                        </div>
                        <button class="btn-add">Adicionar</button>
                        <p class="promotion-msg">** Promoção Especial **</p>
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="products-shop">
                    <img src="../assets/coca.png">
                    <p class="name-product">Coca-Cola Lata 350ml</p>
                    <div class="container-price">
                        <p class="promotion-product"><s>R$ 3,45</s></p>
                        <p class="price-product">R$ 3,00</p>
                        <div class="add-cart">
                            <input class="add-items"  min="0" type="number" value="0">
                        </div>
                        <button class="btn-add">Adicionar</button>
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="products-shop">
                    <img src="../assets/coca.png">
                    <p class="name-product">Coca-Cola Lata 350ml</p>
                    <div class="container-price">
                        <p class="promotion-product"><s>R$ 3,45</s></p>
                        <p class="price-product">R$ 3,00</p>
                        <div class="add-cart">
                            <input class="add-items" min="0" type="number" value="0">
                        </div>
                        <button class="btn-add">Adicionar</button>
                    </div>
                </div>
            </div>
        </section>
            <div class="container-footer">
                <div class="menu-icons">
                    <img src="../assets/home_work.png">
                    <p>Favorites</p>
                </div>
                <div class="menu-icons">
                    <img id="btn-add" src="../assets/add_location_alt.png" alt="">
                    <a href="./address.html"><p>Endereços</p></a>
                </div>
                <div class="menu-icons">
                    <img src="../assets/cart.png" alt="">
                     <a href="./home.html"><p>Ir Loja</p></a>
                </div>
                <div class="menu-icons">
                    <img src="../assets/notifi.png" alt="">
                    <p>Meu Carrinho</p>
                </div>
            </div>
    </main>
    <script src="../script/menu.js"></script>
</body>

</html>