<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/menuOptions.css">
    <title>Menu de Opções</title>
</head>

<body>
    <main class="container">
        <header class="header-app">
            <button class="btn-menu" onclick="btnMenu()">|||</button>
            <div class="menu">
                <button class="btn-close" onclick="btnClose()">X</button>
                <img src="../assets/Rectangle 1.png" alt="" srcset="">
                <p class="text-menu">Supermecado da sua <br>preferência</p>
                <ul class="toggle-list">
                    <a href="./menuOptions.html">
                        <li><img src="../assets/coracao.png">Menu de Opções</li>
                    </a>
                    <a href="">
                        <li><img src="../assets/coracao.png">Meus Cartões</li>
                    </a>
                    <a href="./address.html">
                        <li><img src="../assets/coracao.png">Meus Endereços</li>
                    </a>
                    <a href="./updateAddress.html">
                        <li><img src="../assets/coracao.png">Atualizar Endereço</li>
                    </a>
                    <a href="./delivery.html">
                        <li><img src="../assets/coracao.png">Meus Pedidos</li>
                    </a>
                    <a href="">
                        <li><img src="../assets/coracao.png">Produtos nào encontrados</li>
                    </a>
                    <a href="">
                        <li><img src="../assets/coracao.png">Reclamações & Sugestões</li>
                    </a>
                    <a href="">
                        <li><img src="../assets/coracao.png">Jornal Informativo</li>
                    </a>
                    <a href="">
                        <li><img src="../assets/coracao.png">Ir pra Loja...</li>
                    </a>
                </ul>
            </div>
            <h1>Menu de Opções</h1>
            <input class="find-items" type="search" name="" id="" placeholder="Buscar">
            <!-- Quando houver o click eu mostro o campo de pesquisa -->
            <img onclick="findItems()" class="find" src="../assets/find.png">
        </header>
        <section>
            <div class="row">
                <div class="box">
                    <div class="card-box">OPÇÃO-A</div>
                </div>
                <div class="box">
                    <div class="card-box">OPÇÃO-B</div>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <div class="card-box">OPÇÃO-C</div>
                </div>
                <div class="box">
                    <div class="card-box">OPÇÃO-D</div>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <div class="card-box">OPÇÃO-E</div>
                </div>
                <div class="box">
                    <div class="card-box">OPÇÃO-F</div>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <div class="card-box">OPÇÃO-G</div>
                </div>
                <div class="box">
                    <div class="card-box">OPÇÃO-H</div>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <div class="card-box">OPÇÃO-I</div>
                </div>
                <div class="box">
                    <div class="card-box">OPÇÃO-J</div>
                </div>
            </div>
        </section>
        <div class="container-footer">
           
            <div class="menu-icons">
                <img src="../assets/notifi.png" alt="">
            </div>
        </div>
    </main>
    <script src="../script/menu.js"></script>
</body>

</html>