<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/pay.css">
    <title>Pagamento</title>
</head>

<body>
    <main class="container">
        <header class="header-app">
            <a href="./delivery.html"><img src="../assets/arrow.png"></a>
            <h1>Pagamento</h1>
        </header>
        <div class="your-request">
            <h1>Seu Pedido:</h1>
            <div class="infos-request">
                <img src="../assets/cartBlack.png" alt="" srcset="">
                <p>73</p>
                <span>R$</span>
                <span> 502,03</span>
            </div>
        </div>
        <section class="address-container">
            <div class="input-options">
                <label for="money">
                    <input type="radio" name="money">
                    Dinheiro
                </label>
                <label for="credit-card">
                    <input type="radio" name="credit-card">
                    Cartão de Crédito
                </label>
            </div>
            <div class="display-change">
                <h2>Troco para</h2>
                <h1>R$ 0,00</h1>
            </div>
            <div class="btn-pay">
                <a href="./completion.html">+ &nbsp; Finalizar...</a>
            </div>
        </section>
        <div class="container-footer">
            <div class="menu-icons">
                <img src="../assets/home_work.png" alt="">
                <p>Favorites</p>
            </div>
            <div class="menu-icons">
                <img src="../assets/add_location_alt.png" alt="">
                <a href="./address.html"><p>Endereços</p></a>
            </div>
            <div class="menu-icons">
                <img src="../assets/cart.png" alt="">
                 <a href="./home.html"><p>Ir Loja</p></a>
            </div>
            <div class="menu-icons">
                <img src="../assets/notifi.png" alt="">
                <p>Meu Carrinho</p>
            </div>
        </div>
    </main>
</body>

</html>