<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/updateAddress.css">
    <title>Atualizar Endereço</title>
</head>
<body>
    <main class="container">
        <header class="header-app">
            <a href="./address.html"><img src="../assets/arrow.png"></a>
            <h1>Atualizar Endereços</h1>
        </header>
        <section class="address-container">
            <div>
                <form action="./address.html" method="get">
                    <input class="input-update" type="text" name="address" placeholder="Endereço">
                    <input class="aside" type="number" name="number" placeholder="Número">
                    <input class="aside" type="text" name="complement" placeholder="Complemento">
                    <input class="input-update" type="text" name="neighborhood" placeholder="Bairro">
                    <input class="input-update" type="text" name="reference" placeholder="Ponto de Referência">
                    <div class="stateAndCity">
                        <select  class="city" name="city">
                        <option value="cidade1">Cidade </option> 
                        <option value="cidade1">Cidade 1</option> 
                        <option value="cidade1">Cidade 2</option> 
                        <option value="cidade1">Cidade 3</option> 
                        <option value="cidade1">Cidade 4 </option> 
                        <option value="cidade1">Cidade 5</option> 
                        <option value="cidade1">Cidade 6</option> 
                        <option value="cidade1">Cidade 7</option> 
                        <option value="cidade1">Cidade 8</option> 
                        </select>
                        <select class="UF" name="state"> 
                            <option value="estado">UF</option> 
                            <option value="ac">AC</option> 
                            <option value="al">AL</option> 
                            <option value="am">AM</option> 
                            <option value="ap">AP</option> 
                            <option value="ba">BA</option> 
                            <option value="ce">CE</option> 
                            <option value="df">DF</option> 
                            <option value="es">ES</option> 
                            <option value="go">GO</option> 
                            <option value="ma">MA</option> 
                            <option value="mt">MT</option> 
                            <option value="ms">MS</option> 
                            <option value="mg">MG</option> 
                            <option value="pa">PA</option> 
                            <option value="pb">PB</option> 
                            <option value="pr">PR</option> 
                            <option value="pe">PE</option> 
                            <option value="pi">PI</option> 
                            <option value="rj">RJ</option> 
                            <option value="rn">RN</option> 
                            <option value="ro">RO</option> 
                            <option value="rs">RS</option> 
                            <option value="rr">RR</option> 
                            <option value="sc">SC</option> 
                            <option value="se">SE</option> 
                            <option value="sp">SP</option> 
                            <option value="to">TO</option> 
                        </select>
                        <br>
                    </div>
                    <button class="btn-update" type="submit">Atualizar</button>
                </form>
            </div>
        </section>
        <div class="container-footer">
            <div class="menu-icons">
                <img src="../assets/home_work.png" alt="">
                <p>Favorites</p>
            </div>
            <div class="menu-icons">
                <img src="../assets/add_location_alt.png" alt="">
                <a href="./address.html"><p>Endereços</p></a>
            </div>
            <div class="menu-icons">
                <img src="../assets/cart.png" alt="">
                 <a href="./home.html"><p>Ir Loja</p></a>
            </div>
            <div class="menu-icons">
                <img src="../assets/notifi.png" alt="">
                <p>Meu Carrinho</p>
            </div>
        </div>
    </main>
</body>
</html>