:root {
    --shadow-menu: 5px 5px 15px 5px #000000;
}

* {
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    height: 100vh;                 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-app {
    width: 100%;
    height: 70px;
    background-color: #6200EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
}

.btn-menu {
    padding: 10px;
    font-size: 20px;
    background-color: #6200EE;
    color: #fff;
    border: none;
    cursor: pointer;
    transform: rotate(90deg);
}
.btn-close {
    padding: 10px;
    font-size: 20px;
    background-color: #6200EE;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.find {
    cursor: pointer;
}

.find-items {
    border: none;
    background-color: #FFF;
    padding: 5px;
    border-radius: 10px;
    margin-left: 200px;
    display: none;
}

.products {
    width: 100%;
    margin-top: 50px;
    border-bottom: 1px solid #0CCDF8;
}

.products-shop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.promotion-msg{
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    transform: translate(-180px, -50px);
    color: #2F0FF2;
}

.name-product {
    font-size: 18px;
    margin-bottom: 50px;
    margin-right: 30px;
}

.promotion-product {
    font-size: 18px;
    font-weight: bold;
    color: #BE0D18;
}

.price-product {
    font-size: 18px;
}

.container-price {
    margin-top: 25px;
}

.add-cart {
  display: flex;
  
}
.add-cart img{
    margin-left: 50px;
    margin-top: -37px;
    width: 40px;
    position: absolute;
    cursor: pointer;

}
.add-items {
    width: 50px;
    height: 20px;
    background-color: #CAEFF6;
    border: none;
    color: #000000;
    border-radius: 5px;
}

.btn-add {
    margin-top: 10px;
    padding: 2px;
    background-color: #229CC2;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container-footer {
    width: 100%;
    height: 90px;
    background-color: #6200EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    margin-top: 20px;
}

.menu-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.menu-icons a{
    color: #fff;
    text-decoration: none;
}

.menu {
    display: none;
    width: 325px;
    height: 625px;
    background-color: #fff;
    position: fixed;
    top: 15px;
    box-shadow: var(--shadow-menu);
    overflow-y: scroll;
    overflow-x: hidden;
}

.toggle-list li {
    list-style: none;
    margin: 10px;
    transition: 0.2s;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.toggle-list li:hover {
    background-color: aliceblue;
    color: #6200EE;
    padding: 10px;
}

.toggle-list img {
    list-style: none;
    margin-right: 30px;
    margin-top: 5px;
    width: 30px;
}

.toggle-list a {
    margin: 5px;
    text-decoration: none;
    color: #202020;
    font-size: 20px;
    font-weight: bold;
}

.text-menu {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #29A2D6;
}